$light_blue: #1976d2;
$black: #212121;
$light_gray: #9599a3;
$yellow: #f7f7f7;
$gray_border_color: #e5e5e5;
$box_shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
$box_shadow_button: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);