body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  border: none;
  border-bottom: 1px solid #333;
}

.row {
  margin-bottom: 0;
}

.img img {
  max-width: 100%;
}