body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  border: none;
  border-bottom: 1px solid #333;
  font-weight: 300;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid #1976d2;
  border-bottom: 2px solid #1976d2;
}

.noUi-connect, .noUi-target .range-label {
  background-color: #1976d2;
}

.row {
  margin-bottom: 0;
}

.img img {
  max-width: 100%;
}

.clearfix {
  clear: both;
}

.container {
  width: 1070px;
}

@media (max-width: 991px) {
  .container {
    width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.pagination {
  em, span, a {
    margin: 0 5px;
    padding: 9px 13px;
    color: #212121 !important;
    border-radius: 3px;
  }

  a {
    &:hover {
      color: #fff !important;
      background: #1976d2;
    }
  }

  em {
    color: #fff !important;
    background: #1976d2;
  }
}